* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#page-container {
    position: relative;
    min-height: 100vh;
}


/************************************All HTML for page goes inside this Div**************************************/

#content-wrap {
    padding-bottom: 2.5rem;
}

.headingH2 {
    color: white;
    text-align: center;
}


/* Input settings*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(255, 94, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* container settings*/

.container {
    font-family: 'Saira Condensed', sans-serif;
    border-radius: 5px;
    background-color: #000000;
    padding: 10px;
    margin-bottom: 100px;
}


/* Columns for picture and form*/

.column {
    color: white;
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


/* Clear floats*/

.row:after {
    content: "";
    display: table;
    clear: both;
}


/************************************************************************Header section************************************************/

.header {
    overflow: hidden;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: rgb(255, 94, 0);
    color: rgb(255, 255, 255);
}

.header-right {
    float: right;
    font-family: 'Saira Condensed', sans-serif;
}


/*************************************************************Footer******************************************************/


.footer-content
{
    background: #000000;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    position: absolute;
    height: auto;
    width: 100%;
}

.footer-menu-center {
    display: inline-block;
    place-self: center;
    


}

.footer-menu-center p {
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    place-self: center;
    

}

.footer-menu-left { 
    
    float: left;
    place-self: center;
}

.footer-menu-left a {
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(255, 94, 0);
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 2px;
    
}

.footer-icons
{
    float: right;
    place-self: center;
}

.footer-icons img {
    width: 50px;
    height: 50px;
}



/**************************************************Media Queries*************************************/

@media screen and (max-width: 800px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }

    .footer-content {
        grid-template-columns: 100%;
        grid-template-rows: 25% 50% 25%;
    }

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


